<% content_for :header do %>
Create a new <%= configatron.site_name %> account
<% end %>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <fieldset id="oldfashioned_form">
    <legend>Your Details</legend>
    <p><label for="login">Login</label><br/>
    <%= f.text_field :login, autofocus: true  %></p>

    <p><label for="email">Email</label><br/>
    <%= f.email_field :email %></p>

    <p><label for="password">Password</label><br/>
    <%= f.password_field :password, autocomplete: "off" %></p>

    <p><label for="password_confirmation">Confirm Password</label><br/>
    <%= f.password_field :password_confirmation, autocomplete: "off" %></p>
  </fieldset>

  <ul>
    <li><%= link_to "Already signed up? Login now!", new_user_session_path %></li>
  </ul>

  <div id="submitbutton">
    <p><%= f.submit 'Sign up' %></p>
  </div>

<% end %>

<%= render "devise/shared/links" %>
